<!DOCTYPE html>
<html>

<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/main.css">

  <title>Film Finder</title>
</head>

<body>

  {{{body}}}

  <br>
  <br>
  <a href="/">Return to Home Page</a>
</body>

</html>