<h1>This is the Genres page</h1>
<p>All Genres currently in the database are listed below.</p>

{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Modify</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id and genre name --}}
        {{#each data}}

        <tr>
            <td>{{this.genre_id}}</td>
            <td>{{this.genre_name}}</td>
            <td>
                <button>Edit</button>
                <button>Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<br>

<h2>Add a new genre to the database</h2>

<p>To add a new genre, please enter the name below and click `Submit`!</p>

<form id="/add-genre-form" method="POST" action="/add-genre-form">
    <label for="input-genre">Genre Name: </label>
    <input type="text" name="input-genre" id="input-genre">

    <input type="submit">
</form>