<h1>Film Finder</h1>
<h2>This is the Home page</h1>
  <p>Select the links above you would like to view or edit.</p>

  <nav>
    <ul style="list-style-type: none">
      <li><a href="/actors">Actors</a></li>
      <li><a href="/moods">Moods</a></li>
      <li><a href="/movies">Movies</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/genres">Genres</a></li>
      <li><a href="/age_ratings">AgeRating</a></li>
      <li><a href="/movie_actors">MovieActors (Read Only)</a></li>
      <li><a href="/movie_moods">MovieMoods (Read Only)</a></li>
      <li><a href="/movie_genres">MovieGenres (Read Only)</a></li>
      <li><a href="/user_movies">UserMovies (Read Only)</a></li>
    </ul>
  </nav>