<h1>This is the Home page</h1>
<p>Select the table you would like to view or edit below.</p>

  <nav>
    <ul style="list-style-type: none">
      <li><a href="/actors">Actors</a></li>
      <li><a href="/moods">Moods</a></li>
      <li><a href="/movies">Movies</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/genres">Genres</a></li>
      <li><a href="/age_ratings">AgeRating</a></li>
      <li><a href="/edit_movies">Edit Movies</a></li>
    </ul>
  </nav>