<h1>This is the Users page</h1>
<p>All registered Users of the site are listed below.</p>

{{!-- The Data from our Database --}}
<nav>
    <ul style="list-style-type: none">
        <li><a href="/actors">Actors</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/genres">Genres</a></li>
        <li><a href="/age_ratings">AgeRating</a></li>
        <li><a href="/movie_actors">MovieActors (Read Only)</a></li>
        <li><a href="/movie_moods">MovieMoods (Read Only)</a></li>
        <li><a href="/movie_genres">MovieGenres (Read Only)</a></li>
        <li><a href="/user_movies">UserMovies (Read Only)</a></li>
    </ul>
</nav>
{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Modify</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id and name in order --}}
        {{#each data}}

        <tr>
            <td>{{this.mood_id}}</td>
            <td>{{this.mood_name}}</td>
            <td>
                <button>Edit</button>
                <button>Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<br>

<h2>Add a new mood to the database</h2>

<p>To add a new mood, please enter the name below and click `Submit`!</p>

<form id="/add-mood-form" method="POST" action="/add-mood-form">
    <label for="input-mood">Mood Name: </label>
    <input type="text" name="input-mood" id="input-mood">

    <input type="submit">
</form>