<nav>
    <ul style="list-style-type: none">
        <li><a href="/actors">Actors</a></li>
        <li><a href="/moods">Moods</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/genres">Genres</a></li>
        <li><a href="/age_ratings">AgeRating</a></li>
        <li><a href="/edit_movies">Edit Movies</a></li>
        <li><a href="/movie_actors">MovieActors (Read Only)</a></li>
        <li><a href="/movie_genres">MovieGenres (Read Only)</a></li>
        <li><a href="/user_movies">UserMovies (Read Only)</a></li>
    </ul>
</nav>
<h1>MovieMoods</h1>

<p>
    This page displays the MovieMoods intersection table. No direct editing of this table is allowed, but
    it is available to view in order to help track down any potential issues. All changes to Movie/Mood
    relationships should be done through the Edit Movies page.
</p>

{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, first name, last name, and birthdate, in order --}}
        {{#each data}}

        <tr>
            <td>{{this.movie_id}}</td>
            <td>{{this.mood_id}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>