<h1>This is the Movie Edit Page</h1>
<p>
    The Age Rating, Genres, Moods, and Actors associated with
    the selected movie are listed below. You can add, remove
    or change any of the relationships using this page.
</p>

{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<label for="genres">Genres</label>
<table id="genres">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each genre.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, title, year, and age rating in order --}}
        {{#each genre}}
        <tr>
            <td>{{this.genre_name}}</td>
            <td>
                <button>Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{!-- 
<br>

<h2>Add a new movie to the database</h2>
<p>To add a new movie, please enter the information below and click `Submit`!</p>
<form id="add-movie-form" method="POST" action="/add-movie-form">
    <label for="input-title">Movie Title: </label>
    <input type="text" name="input-title" id="input-title">

    <label for="input-year">Year: </label>
    <input type="number" name="input-year" id="input-year" min="1900" max="2030">

    <label for="input-age-rating">Age Rating: </label>
    <select name="input-age-rating" id="input-age-rating">
        {{#each age_ratings}}
        <option value="{{this.age_rating_description}}">{{this.age_rating_description}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form> --}}