/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body {       
  color:darkblue;
  background-color: lightgrey;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2em ;
  font-weight: 500;
  margin: 50px;
  padding: 100px;
  text-align: center;
}

/*  ----- Navigation ----- Override text links for navigation only.  */
nav {
  background-color:rgb(40, 170, 170);
  color:blue;
  border:15px double darkblue;
  font-size: 1.2em; 
  font-weight:bold; 
  margin:30px; 
  padding:25px; 
  text-decoration:dotted;
  vertical-align: baseline;
}
nav a {
  background-color:rgb(40, 170, 170);
  color:blue;
  border:5px solid darkblue;
  font-size: 1.2em; 
  font-weight:bold; 
  margin:30px; 
  padding:25px; 
  text-decoration:wavy;
  vertical-align: bottom;
}
nav a:hover {
  background-color:aquamarine;
  color:rgb(0, 0, 180);
  border:1px sold black;
  font-size: 1.3em; 
  font-weight:bold; 
  margin:30px; 
  padding:25px; 
  text-decoration:underline;
}

/*  ----- Page layout blocks -----  */
header {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: larger;
  font-weight: bold;
  color:darkblue;
  border: 25px double darkblue;
  padding: 15px;
  margin: 20px;
  background-color: rgb(240, 70, 70);
}
main {
  background-color: antiquewhite;
  color: rgb(55, 55, 55);
  border: 5px solid darkblue;
  padding: 5px;
}
footer {
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  color: rgb(55, 55, 55);
  font-weight: 200;
}

/*  -----  Typography  ----- */
p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 50px;
  margin-right: 5 a 0px;
}

h1 {
  font-size: 2.5em;
}
h2 {
  color: darkblue;
}

cite {
  font-family: sans-serif;
}
span {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

/*  ----- Table ----- */
table {
  margin: auto;
  border-collapse: collapse;
  border: 2px solid darkblue;
}
caption {
  font-weight: bold;
  font-size: 1.3em;
  color: darkblue;
}
thead {
  font-size: 1.1em;
}
tr {
  border: 2px solid darkblue;
  padding: 10px;
}
  tr:nth-child(even) {
    background-color: rgb(230,220,200);
  }
th {
  border: 2px solid darkblue;
  padding: 15px;
}
td {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid darkblue;
}

/*  ----- Form ----- */
form {
  color: darkblue;
  margin-top: 50px;
}
fieldset {
  border: solid rgb(55, 55, 55);
}
  legend {
    font-size: 1.4em;
    font-weight: bolder;
  }
label {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 1.3em;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    display: block;
}
  button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: .9em;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }
  input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: .9em;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  select {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: .9em;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }

@keyframes App-logo {}

/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {}

/*   ===== PRINT  media query overrides previous styles =====  */
@media print {}